<div class="column-layout page-content">
  <div class="row-layout main-page-header">
    <div class="row-layout group">
      <div class="column-layout group_1">
        <h4 class="h4">
          Всичко необходимо за фаровете на вашата кола на едно място
        </h4>
        <p class="text">
          Предлагаме професионално полиране и фолирането с най-добрите марки и гаранции

        </p>
      </div>
    </div>
  </div>
  <div class="column-layout content">
    <h2 class="terms-header">
      Полиране на фарове
    </h2>
    <h5 class="terms-header-1">
      Процесът на полиране на фарове започва с внимателен оглед, за да се определи степента на повреда на стъклата. След това избираме подходящата шкурка за началото на обработката. За да защитим боядисаните части на вашата кола, използваме специална защита около фаровете.
    </h5>
    <h5 class="terms-header-1">
      ⚙️ Шкурене: Преминаване през различни етапи на шкурене, от груби към по-фини шкурки, като най-фината е с номер 3000, което помага за постигането на гладка повърхност. Този етап, при използване на машина, отнема от 1 час и 30 минути до 2 часа, в зависимост от състоянието на фаровете.
    </h5>
    <h5 class="terms-header-1">
      ⚙️ Полирането: След шкуренето, фаровете се чистят и полират с полирмашина или с "Лампа на Аладин" за максимално качество, отстранявайки всички следи от обработката.
    </h5>
    <h5 class="terms-header-1">
      ⚙️ Фолирането: Завършваме с нанасяне на фолио марка "Llumar", което предоставя 5-годишна гаранция за монтаж и защита от пожълтяване. Имайте предвид при мияне с високо налягане, че не трябва да задържате струята дълго време върху ръбовете на фаровете.
    </h5>
  </div>
</div>
