<div class="column-layout page-content">
  <div class="row-layout main-page-header">
    <div class="row-layout group">
      <div class="column-layout group_1">
        <h4 class="h4">
          Полиране на фарове
        </h4>
        <p class="text">
          Какъв е процесът?
        </p>
      </div>
    </div>
  </div>
  <div class="column-layout content">
    <button igxButton="contained" type="button" igxRipple [routerLink]="['/general-info']" class="button">
      Виж работата ни
    </button>
    <h5 class="terms-header-1">
      Процесът на полиране на фарове започва с внимателен оглед, за да се определи степента на повреда на стъклата. След това избираме подходящата шкурка за началото на обработката. За да защитим боядисаните части на вашата кола, използваме специална защита около фаровете.
    </h5>
    <h5 class="terms-header-1">
      ⚙️ Шкурене: Преминаване през различни етапи на шкурене, от груби към по-фини шкурки, като най-фината е с номер 3000, което помага за постигането на гладка повърхност. Този етап, при използване на машина, отнема от 1 час и 30 минути до 2 часа, в зависимост от състоянието на фаровете.
    </h5>
    <h5 class="terms-header-1">
      ⚙️ Полирането: След шкуренето, фаровете се чистят и полират с полирмашина или с "Лампа на Аладин" за максимално качество, отстранявайки всички следи от обработката.
    </h5>
    <h5 class="terms-header-1">
      ⚙️ Фолирането: Завършваме с поставяне на фолио марка "Llumar", с което предоставяме 5-годишна гаранция за монтаж и защита от пожълтяване. Имайте предвид при миене с високо налягане, че не трябва да задържате струята дълго време върху ръбовете на фаровете.
    </h5>
  </div>
</div>
