<div class="row-layout main-page-header">
  <div class="row-layout group">
    <div class="column-layout group_1">
      <h4 class="h4">
        Цени на услугите
      </h4>
      <p class="text">
        Предлагаме професионално полиране и фолиране с най-добрите марки и гаранции

      </p>
    </div>
  </div>
</div>
<div class="column-layout content">
  <div class="column-layout group_2">
    <h5 class="terms-header">
      🌟Полиране: Цената за "Полиране" е 60 лева;
      <br />
      🌟Полиране и Фолиране:  Цената е различна спрямо състояние, големина и сложността на фаровете, като може да варира от 140 до 200 лева.
    </h5>
  </div>
</div>
