:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: auto;
}
.navbar {
  width: 100%;
  height: max-content;
  min-width: min-content;
  max-width: 100%;
}
.nav-drawer {
  min-width: min-content;
  min-height: 0;
  max-width: 247px;
  flex-shrink: 0;
}
.view-container {
  overflow: auto;
  position: relative;
  flex-grow: 1;
}
.icon-button {
  --igx-button-foreground: var(--ig-gray-100);
}
.navbar-content {
  gap: 1rem;
}
.icon-button_1 {
  --igx-button-foreground: var(--ig-gray-100);
  --igx-button-background: transparent;
}
.icon {
  color: var(--ig-gray-100);
}
.h6 {
  margin: 0;
}
.icon_1 {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: var(--ig-primary-500);
}
.text {
  text-align: center;
  color: var(--ig-gray-800);
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.hyperlink {
  text-align: center;
  color: var(--ig-info-500);
  cursor: pointer;
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.hyperlink_1 {
  text-align: center;
  color: var(--ig-info-500);
  cursor: pointer;
  height: max-content;
  min-width: min-content;
}
.row-layout {
  display: flex;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: auto;
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
}
.footer {
  background-color: var(--ig-gray-100);
  border-color: var(--ig-gray-200);
  border-width: 0px 0px 1px;
  border-style: solid;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  padding: 12px;
  min-width: 50px;
  min-height: 65px;
}
.group_2 {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 10px;
  overflow: auto;
  position: relative;
}
.group_3 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
  position: relative;
}
.group_4 {
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 3px;
  position: relative;
}

/* filepath: /c:/ZDK/Personal/dirty-garage/src/app/app.component.scss */
.custom-link {
  color: inherit; /* Inherit the color from the parent element */
  text-decoration: none; /* Remove the underline */
}

.custom-link:hover {
  text-decoration: underline; /* Optional: Add underline on hover */
}