<igx-navbar class="navbar">
  <igx-navbar-action>
    <button igxRipple igxIconButton="flat" [igxToggleAction]="navDrawer" class="icon-button">
      <igx-icon class="icon">
        menu
      </igx-icon>
    </button>
  </igx-navbar-action>
  <igx-navbar-title class="navbar-content">
    <h6 class="h6">
      <a routerLink="/general-info" class="custom-link">Dirty Garage</a>
    </h6>
  </igx-navbar-title>
  @if (iconButtonVisible) {
    <button igxRipple igxIconButton="flat">
      <igx-icon>
        search
      </igx-icon>
    </button>
  }
  @if (iconButtonVisible1) {
    <button igxRipple igxIconButton="flat">
      <igx-icon>
        favorite
      </igx-icon>
    </button>
  }
  <button igxRipple igxIconButton="flat" routerLink="/general-info" class="icon-button_1">
    <igx-icon class="icon">
      info
    </igx-icon>
  </button>
  <button igxRipple igxIconButton="flat" class="icon-button_1" (click)="openPhoneNumber()">
    <igx-icon class="icon">
      phone
    </igx-icon>
  </button>
  <button igxRipple igxIconButton="flat" routerLink="/scheduler" class="icon-button_1">
    <igx-icon class="icon">
      calendar_month
    </igx-icon>
  </button>
  <button igxRipple igxIconButton="flat" (click)="openGoogleMaps()" class="icon-button_1">
    <igx-icon class="icon">
      location_on
    </igx-icon>
  </button>
  @if (iconButtonVisible2) {
    <button igxRipple igxIconButton="flat">
      <igx-icon>
        more_vert
      </igx-icon>
    </button>
  }
</igx-navbar>
<div class="row-layout group">
  <igx-nav-drawer [pinThreshold]="0" width="247px" #navDrawer class="nav-drawer">
    <ng-template igxDrawer>
      <div igxDrawerItem igxRipple routerLink="/general-info" (click)="navDrawer.toggle()">
        <igx-icon class="icon_1">
          info
        </igx-icon>
        <span>Основна информация</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/polish-info" (click)="navDrawer.toggle()">
        <igx-icon class="icon_1">
          cleaning_services
        </igx-icon>
        <span>Полиране на фарове</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/who-we-are" (click)="navDrawer.toggle()">
        <igx-icon class="icon_1">
          account_circle
        </igx-icon>
        <span>Кои сме ние?</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/contact-information" (click)="navDrawer.toggle()">
        <igx-icon class="icon_1">
          phone
        </igx-icon>
        <span>Контакти</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/scheduler" (click)="navDrawer.toggle()">
        <igx-icon class="icon_1">
          calendar_month
        </igx-icon>
        <span>Запази час</span>
      </div>
    </ng-template>
  </igx-nav-drawer>
  <div class="column-layout group_1">
    <div class="view-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="row-layout footer">
  <div class="row-layout group_2">
    <div class="column-layout group_3">
      <p class="ig-typography__body-2 text">
        Copyright ©2024
      </p>
      <p class="ig-typography__body-2 text">
        All Rights Reserved
      </p>
    </div>
    <button igxButton="flat" type="button" igxRipple routerLink="/terms-of-use" class="button">
      Условия
    </button>
  </div>
</div>
