<igx-navbar class="navbar">
  <igx-navbar-action>
    <button igxRipple igxIconButton="flat" [igxToggleAction]="navDrawer" class="icon-button">
      <igx-icon class="icon">
        menu
      </igx-icon>
    </button>
  </igx-navbar-action>
  <igx-navbar-title class="navbar-content">
    <h6 class="h6">
      Dirty Garage
    </h6>
    <div class="row-layout group">
      <button igxButton="contained" type="button" igxRipple routerLink="/general-info" class="button">
        Полиране
      </button>
      <button igxButton="contained" type="button" igxRipple routerLink="/contact-information" class="button">
        Контакти
      </button>
    </div>
  </igx-navbar-title>
</igx-navbar>
<div class="row-layout group_1">
  <igx-nav-drawer [pin]="true" width="247px" #navDrawer class="nav-drawer">
    <ng-template igxDrawer>
      <div igxDrawerItem igxRipple routerLink="/general-info">
        <igx-icon class="icon_1">
          info
        </igx-icon>
        <span>Основна информация</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/polish-info">
        <igx-icon class="icon_1">
          cleaning_services
        </igx-icon>
        <span>Полиране на фарове</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/who-we-are">
        <igx-icon class="icon_1">
          account_circle
        </igx-icon>
        <span>Кои сме ние?</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/contact-information">
        <igx-icon class="icon_1">
          phone
        </igx-icon>
        <span>Контакти</span>
      </div>
      <div [disabled]="true" igxDrawerItem igxRipple>
        <igx-icon class="icon_1">
          calendar_month
        </igx-icon>
        <span>Запази час</span>
      </div>
    </ng-template>
  </igx-nav-drawer>
  <div class="column-layout group_2">
    <div class="view-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="row-layout footer">
  <div class="row-layout group_3">
    <div class="column-layout group_4">
      <p class="ig-typography__body-2 text">
        Copyright ©2024
      </p>
      <p class="ig-typography__body-2 text">
        DirtyGarage.bg, Inc. All Rights Reserved.
      </p>
    </div>
    <button igxButton="flat" type="button" igxRipple routerLink="/terms-of-use" class="button_1">
      Условия
    </button>
  </div>
</div>
