<div class="row-layout main-page-header">
  <div class="row-layout group">
    <div class="column-layout group_1">
      <h4 class="h4">
        Всичко необходимо за фаровете на вашата кола на едно място
      </h4>
      <p class="text">
        Предлагаме професионално полиране и фолирането с най-добрите марки и гаранции

      </p>
    </div>
  </div>
</div>
<div class="column-layout content">
  <div class="column-layout group_2">
    <h2 class="terms-header">
      Кои сме ние?
    </h2>
    <h5 class="terms-header-1">
      Ние сме екип от професионалисти, посветени на поддържането на вашата кола в оптимално състояние. С години на опит в автомобилната индустрия, ние предлагаме услуги, които не само подобряват външния вид, но и гарантират сигурността ви на пътя. Нашата цел е да ви предоставим качество и надеждност, като използваме само най-добрите материали и техники.
    </h5>
  </div>
</div>
