<div class="column-layout page-content">
  <div class="row-layout main-page-header">
    <div class="row-layout group">
      <div class="column-layout group_1">
        <h4 class="h4">
          Портфолио на работата ни до тук
        </h4>
        <p class="text">
          Процесът на полиране на фарове започва с внимателен оглед, за да се определи степента на повреда на стъклата. След това избираме подходящата шкурка за началото на обработката. За да защитим боядисаните части на вашата кола, използваме специална защита около фаровете.
        </p>
      </div>
    </div>
  </div>
  <div class="column-layout content">
    <div class="column-layout popular-categories">
      <div class="row-layout group_2">
        <div class="row-layout group_3">
          <igx-card class="card">
            <igx-card-media height="200px" class="media-content">
              <img src="/assets/Snipaste_2024-12-13_11-43-23.png" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Преди
              </h3>
              <h5 igxCardHeaderSubtitle>
            </h5>
            </igx-card-header>
          </igx-card>
          <igx-card class="card">
            <igx-card-media height="200px" class="media-content">
              <img src="/assets/Snipaste_2024-12-13_11-43-09.png" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                След
              </h3>
              <h5 igxCardHeaderSubtitle>
            </h5>
            </igx-card-header>
          </igx-card>
        </div>
        <div class="row-layout group_3">
          <igx-card class="card">
            <igx-card-media height="200px" class="media-content">
              <img src="/assets/Snipaste_2024-12-13_11-41-40.png" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Преди
              </h3>
              <h5 igxCardHeaderSubtitle>
            </h5>
            </igx-card-header>
          </igx-card>
          <igx-card class="card">
            <igx-card-media height="200px" class="media-content">
              <img src="/assets/Snipaste_2024-12-13_11-41-23.png" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                След
              </h3>
              <h5 igxCardHeaderSubtitle>
            </h5>
            </igx-card-header>
          </igx-card>
        </div>
        <div class="row-layout group_3">
          <igx-card class="card">
            <igx-card-media height="200px" class="media-content">
              <img src="/assets/Snipaste_2024-12-13_11-43-04.png" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Преди
              </h3>
              <h5 igxCardHeaderSubtitle>
            </h5>
            </igx-card-header>
          </igx-card>
          <igx-card class="card">
            <igx-card-media height="200px" class="media-content">
              <img src="/assets/Snipaste_2024-12-13_11-42-58.png" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                След
              </h3>
              <h5 igxCardHeaderSubtitle>
            </h5>
            </igx-card-header>
          </igx-card>
        </div>
        <div class="row-layout group_3">
          <igx-card class="card">
            <igx-card-media height="200px" class="media-content">
              <img src="/assets/Snipaste_2024-12-13_11-42-52.png" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Преди
              </h3>
              <h5 igxCardHeaderSubtitle>
            </h5>
            </igx-card-header>
          </igx-card>
          <igx-card class="card">
            <igx-card-media height="200px" class="media-content">
              <img src="/assets/Snipaste_2024-12-13_11-42-46.png" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                След
              </h3>
              <h5 igxCardHeaderSubtitle>
            </h5>
            </igx-card-header>
          </igx-card>
        </div>
        <div class="row-layout group_3">
          <igx-card class="card">
            <igx-card-media height="200px" class="media-content">
              <img src="/assets/Snipaste_2024-12-13_11-42-39.png" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Преди
              </h3>
              <h5 igxCardHeaderSubtitle>
            </h5>
            </igx-card-header>
          </igx-card>
          <igx-card class="card">
            <igx-card-media height="200px" class="media-content">
              <img src="/assets/Snipaste_2024-12-13_11-42-34.png" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                След
              </h3>
              <h5 igxCardHeaderSubtitle>
            </h5>
            </igx-card-header>
          </igx-card>
        </div>
        <div class="row-layout group_3">
          <igx-card class="card">
            <igx-card-media height="200px" class="media-content">
              <img src="/assets/Snipaste_2024-12-13_11-42-28.png" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Преди
              </h3>
              <h5 igxCardHeaderSubtitle>
            </h5>
            </igx-card-header>
          </igx-card>
          <igx-card class="card">
            <igx-card-media height="200px" class="media-content">
              <img src="/assets/Snipaste_2024-12-13_11-42-23.png" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                След
              </h3>
              <h5 igxCardHeaderSubtitle>
            </h5>
            </igx-card-header>
          </igx-card>
        </div>
        <div class="row-layout group_3">
          <igx-card class="card">
            <igx-card-media height="200px" class="media-content">
              <img src="/assets/Snipaste_2024-12-13_11-42-17.png" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Преди
              </h3>
              <h5 igxCardHeaderSubtitle>
            </h5>
            </igx-card-header>
          </igx-card>
          <igx-card class="card">
            <igx-card-media height="200px" class="media-content">
              <img src="/assets/Snipaste_2024-12-13_11-42-11.png" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                След
              </h3>
              <h5 igxCardHeaderSubtitle>
            </h5>
            </igx-card-header>
          </igx-card>
        </div>
        <div class="row-layout group_3">
          <igx-card class="card">
            <igx-card-media height="200px" class="media-content">
              <img src="/assets/Snipaste_2024-12-13_11-42-05.png" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Преди
              </h3>
              <h5 igxCardHeaderSubtitle>
            </h5>
            </igx-card-header>
          </igx-card>
          <igx-card class="card">
            <igx-card-media height="200px" class="media-content">
              <img src="/assets/Snipaste_2024-12-13_11-42-00.png" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                След
              </h3>
              <h5 igxCardHeaderSubtitle>
            </h5>
            </igx-card-header>
          </igx-card>
        </div>
        <div class="row-layout group_3">
          <igx-card class="card">
            <igx-card-media height="200px" class="media-content">
              <img src="/assets/Snipaste_2024-12-13_11-41-54.png" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Преди
              </h3>
              <h5 igxCardHeaderSubtitle>
            </h5>
            </igx-card-header>
          </igx-card>
          <igx-card class="card">
            <igx-card-media height="200px" class="media-content">
              <img src="/assets/Snipaste_2024-12-13_11-41-47.png" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                След
              </h3>
              <h5 igxCardHeaderSubtitle>
            </h5>
            </igx-card-header>
          </igx-card>
        </div>
        <div class="row-layout group_3">
          <igx-card class="card">
            <igx-card-media height="200px" class="media-content">
              <img src="/assets/Snipaste_2024-12-13_11-36-32.png" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Преди
              </h3>
              <h5 igxCardHeaderSubtitle>
            </h5>
            </igx-card-header>
          </igx-card>
          <igx-card class="card">
            <igx-card-media height="200px" class="media-content">
              <img src="/assets/Snipaste_2024-12-13_11-36-53.png" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                След
              </h3>
              <h5 igxCardHeaderSubtitle>
            </h5>
            </igx-card-header>
          </igx-card>
        </div>
        <div class="row-layout group_3">
          <igx-card class="card">
            <igx-card-media height="200px" class="media-content">
              <img src="/assets/Snipaste_2024-12-13_11-43-32.png" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Преди
              </h3>
              <h5 igxCardHeaderSubtitle>
            </h5>
            </igx-card-header>
          </igx-card>
          <igx-card class="card">
            <igx-card-media height="200px" class="media-content">
              <img src="/assets/Snipaste_2024-12-13_11-43-39.png" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                След
              </h3>
              <h5 igxCardHeaderSubtitle>
            </h5>
            </igx-card-header>
          </igx-card>
        </div>
      </div>
    </div>
  </div>
</div>
