<div class="column-layout page-content">
  <div class="row-layout main-page-header">
    <div class="row-layout group">
      <div class="column-layout group_1">
        <h4 class="h4">
          Всичко необходимо за фаровете на вашата кола на едно място
        </h4>
        <p class="text">
          Предлагаме професионално полиране и фолирането с най-добрите марки и гаранции

        </p>
      </div>
    </div>
  </div>
  <div class="column-layout content">
    <div class="column-layout popular-categories">
      <h3 class="content_1">
        Портфолио на работата ни до тук
      </h3>
      <h5 class="content_1">
        Процесът на полиране на фарове започва с внимателен оглед, за да се определи степента на повреда на стъклата. След това избираме подходящата шкурка за началото на обработката. За да защитим боядисаните части на вашата кола, използваме специална защита около фаровете.
      </h5>
      <div class="row-layout group_2">
        <div class="row-layout group_3">
          <igx-card routerLink="/polish-info" class="card">
            <igx-card-media height="400px" class="media-content">
              <img src="/assets/photo-1606577924006-27d39b132ae2.jpg" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Преди
              </h3>
              <h5 igxCardHeaderSubtitle>
                Bumpers, Fenders, Mirrors, Hoods, Grilles, Door handles, Windows
              </h5>
            </igx-card-header>
          </igx-card>
          <igx-card class="card">
            <igx-card-media height="400px" class="media-content">
              <img src="/assets/photo-1616788494670-7243adbb32b2.jpg" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                след
              </h3>
              <h5 igxCardHeaderSubtitle>
                Headlights, Tail, Fog, Turn Signals, Switches, Corner, Off-Road, Bulbs
              </h5>
            </igx-card-header>
          </igx-card>
        </div>
        <div class="row-layout group_3">
          <igx-card class="card">
            <igx-card-media height="400px" class="media-content">
              <img src="/assets/photo-1552656967-7a0991a13906.jpg" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                ПРЕДИ
              </h3>
              <h5 igxCardHeaderSubtitle>
                Catalytic Converters, Radiators, Fuel Systems, Heating, Cranks, Pistons
              </h5>
            </igx-card-header>
          </igx-card>
          <igx-card class="card">
            <igx-card-media height="400px" class="media-content">
              <img src="/assets/photo-1598149949932-e4727f2f7ac4.jpg" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                СЛЕД
              </h3>
              <h5 igxCardHeaderSubtitle>
                Discs, Shocks, Control Arms, Wheel Hubs, Wheels, Tie Rods
              </h5>
            </igx-card-header>
          </igx-card>
        </div>
        <div class="row-layout group_3">
          <igx-card class="card">
            <igx-card-media height="400px" class="media-content">
              <img src="/assets/photo-1614527255138-018e29ff34ee.jpg" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                ПРЕДИ
              </h3>
              <h5 igxCardHeaderSubtitle>
                Seats, Carpet, Floor Mats, Dashboard, Switches, Gauges &amp; Monitors
              </h5>
            </igx-card-header>
          </igx-card>
          <igx-card class="card">
            <igx-card-media height="400px" class="media-content">
              <img src="/assets/photo-1514316454349-750a7fd3da3a.jpg" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                СЛЕД
              </h3>
              <h5 igxCardHeaderSubtitle>
                Bumpers, Hoods, Grilles, Fog lights, Door Handles, Locks, Covers
              </h5>
            </igx-card-header>
          </igx-card>
        </div>
      </div>
    </div>
  </div>
  @if (groupVisible) {
    <div class="row-layout sitemap">
      <div class="column-layout group_4">
        <p class="ig-typography__subtitle-2 text_1">
          Contact Us
        </p>
        <p class="ig-typography__body-2 text_1">
          1234 Street Name, CityName, ST
        </p>
        <p class="ig-typography__body-2 text_1">
          10520 United States
        </p>
        <p class="ig-typography__subtitle-2 text_2">
          Phone Number
        </p>
        <p class="ig-typography__body-2 text_1">
          1-234-567-8901
        </p>
      </div>
      <div class="column-layout group_5">
        <p class="ig-typography__subtitle-2 text_1">
          Help
        </p>
        <p class="ig-typography__body-2 text_1">
          FAQ
        </p>
        <p class="ig-typography__body-2 text_1">
          Returns
        </p>
        <p class="ig-typography__body-2 text_1">
          Coupons &amp; Discounts
        </p>
        <p class="ig-typography__body-2 text_1">
          Shipping &amp; Returns
        </p>
      </div>
      <div class="column-layout group_5">
        <p class="ig-typography__subtitle-2 text_1">
          About Us
        </p>
        <p class="ig-typography__body-2 text_1">
          Company Info
        </p>
        <p class="ig-typography__body-2 text_1">
          Press Releases
        </p>
        <p class="ig-typography__body-2 text_1">
          Careers
        </p>
        <p class="ig-typography__body-2 text_1">
          Reviews
        </p>
      </div>
      <div class="column-layout group_5">
        <p class="ig-typography__subtitle-2 text_1">
          Services
        </p>
        <p class="ig-typography__body-2 text_1">
          Buy Online
        </p>
        <p class="ig-typography__body-2 text_1">
          In-Store
        </p>
        <p class="ig-typography__body-2 text_1">
          Repair Help
        </p>
        <p class="ig-typography__body-2 text_1">
          Find a Repair Shop
        </p>
      </div>
      <div class="column-layout group_5">
        <p class="ig-typography__subtitle-2 text_1">
          Blog
        </p>
        <p class="ig-typography__body-2 text_1">
          Car Building Basics
        </p>
        <p class="ig-typography__body-2 text_1">
          Do it Yourself
        </p>
        <p class="ig-typography__body-2 text_1">
          Your Home Workshop
        </p>
        <p class="ig-typography__body-2 text_1">
          Advanced Bulding
        </p>
      </div>
    </div>
  }
</div>
