:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.page-content {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
}
.row-layout {
  display: flex;
}
.main-page-header {
  background-color: #151725;
  background-image: url("/assets/NewHeader.png");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 24px;
  min-height: 240px;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-height: 50px;
  max-width: 1280px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.content {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.group_2 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 50px;
  position: relative;
  padding: 80px;
  height: 100%;
  min-width: 50px;
  min-height: 50px;
  max-height: 100%;
  flex-grow: 1;
  flex-basis: 0;
}
.group_3 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: auto;
  position: relative;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}
.main-page-header-1 {
  background-color: #151725;
  background-image: url("/assets/generate-me-an-image-showcasing-a-bookings-page-for-a-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 24px;
  min-height: 240px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_4 {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: flex-start;
  overflow: auto;
  position: relative;
  padding: 20px;
  min-width: 500px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_5 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 2px;
  position: relative;
  min-width: 300px;
}
.group_6 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 5px;
  position: relative;
  min-width: 300px;
}
.h4 {
  text-align: center;
  color: var(--ig-surface-500);
  height: max-content;
  min-width: min-content;
}
.text {
  text-align: center;
  color: var(--ig-surface-500);
  margin: 0 0 16px;
  height: max-content;
  min-width: min-content;
}
.terms-header {
  text-align: center;
  height: max-content;
  min-width: min-content;
}
.terms-header-1 {
  height: max-content;
  min-width: min-content;
}
.terms-header-7 {
  height: max-content;
}
.terms-header-8 {
  margin: 5px;
  height: max-content;
}
