<div class="column-layout page-content">
  <div class="row-layout main-page-header">
    <div class="row-layout group">
      <div class="column-layout group_1">
        <h4 class="h4">
          Контакти
        </h4>
        <p class="text">
          Свържи се с нас
        </p>
      </div>
    </div>
  </div>
  <div class="row-layout content">
    <div class="column-layout group_2">
      <div class="row-layout group_3">
        <div class="row-layout main-page-header-1"></div>
        <div class="column-layout group_4">
          <div class="row-layout group_5">
            <h5 class="terms-header-4">
              somemail&#64;anddomain.com
            </h5>
          </div>
          <div class="row-layout group_6">
            <h5 class="terms-header-4">
              +359 883 31 06 16
            </h5>
          </div>
          <div class="row-layout group_5">
            <h5 class="terms-header-8">
              София, улица XXXX
            </h5>
            <h5 class="terms-header-8">
              Блок XXXX, вх. X, ет. X, ап. X
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
