<div class="column-layout page-content">
  <div class="row-layout main-page-header">
    <div class="row-layout group">
      <div class="column-layout group_1">
        <h4 class="h4">
          Всичко необходимо за фаровете на вашата кола на едно място
        </h4>
        <p class="text">
          Предлагаме професионално полиране и фолирането с най-добрите марки и гаранции

        </p>
      </div>
    </div>
  </div>
  <div class="row-layout content">
    <div class="column-layout group_2">
      <h2 class="terms-header">
        Контакти
      </h2>
      <div class="row-layout group_3">
        <div class="row-layout main-page-header-1"></div>
        <div class="column-layout group_4">
          <div class="row-layout group_5">
            <h5 class="terms-header-1">
              e-mail:
            </h5>
            <h5 class="terms-header-1">
              dirty.garage23&#64;gmail.com
            </h5>
          </div>
          <div class="row-layout group_6">
            <h5 class="terms-header-1">
              Телефон:
            </h5>
            <h5 class="terms-header-1">
              +359 898 44 37 55
            </h5>
          </div>
          <div class="row-layout group_5">
            <h5 class="terms-header-7">
              Адрес:
            </h5>
            <h5 class="terms-header-8">
              Младост 2, Марбъл
            </h5>
            <h5 class="terms-header-8">
              Резиденс блок 272б
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
