<div class="column-layout page-content">
  <div class="row-layout main-page-header">
    <div class="row-layout group">
      <div class="column-layout group_1">
        <h4 class="h4">
          Условия за ползване
        </h4>
        <p class="text">
          Предлагаме професионално полиране и фолиране с най-добрите марки и гаранции

        </p>
      </div>
    </div>
  </div>
  <div class="row-layout content">
    <div class="column-layout group_2">
      <h2 class="terms-header"></h2>
      <h5 class="terms-header-1">
        Добре дошли на нашия уебсайт! Преди да започнете да използвате нашите услуги, моля, прочетете внимателно следните условия за ползване:
      </h5>
      <h5 class="terms-header-1">
        - Приемане на условията: Чрез използване на този сайт, вие се съгласявате с всички условия, изложени тук.
        - Употреба на услугите: Услугите, предлагани на този сайт, са предназначени за лична, некомерсиална употреба. Възпроизвеждането, дублирането или използването на съдържание за комерсиални цели без изрично разрешение е забранено.
        - Отговорност: Ние не носим отговорност за каквото и да е загуба или щета, причинена при използване на услугите ни. Вие сте отговорни за всички действия, свързани с вашия акаунт.
        - Промени в услугите: Запазваме си правото да променяме или преустановяваме услугите без предварително уведомление.
        - Интелектуална собственост: Всички права върху съдържанието на  този сайт са запазени.
      </h5>
      <h2 class="terms-header">
        Политика за поверителност
      </h2>
      <h5 class="terms-header-1">
        Защитата на вашата лична информация е от най-голямо значение за нас. Тук е как управляваме вашите данни:

      </h5>
      <h5 class="terms-header-1">
        - Събиране на информация: Събираме лична информация само когато е необходимо за предоставяне на нашите услуги или за контакт с вас. Това може да включва вашето име, адрес за електронна поща или номер на телефон.
        Използване на информация: Вашата информация се използва за подобряване на услугите ни, за да отговаряме на вашите запитвания и за да ви информираме за промени в нашите услуги или политики.
        - Споделяне на информация: Не споделяме вашата лична информация с трети страни, освен ако не е законно наложително или за предоставяне на услуги, които сте поискали.
        - Сигурност: Прилагаме съответните мерки за защита на вашата лична информация от несанкциониран достъп, изменение, разгласяване или унищожение.
        - Вашите права: Имате право да достъпвате, коригирате или изтривате личните си данни по всяко време. Моля, свържете се с нас, за да упражните тези права.
        - Промени в политиката за поверителност: Можем да актуализираме тази политика за поверителност, така че се препоръчва редовно да проверявате тази страница за промени.

        Съгласувайки се с тези условия и политика, вие потвърждавате, че сте запознати с тях и разбирате как се управлява вашата информация.
      </h5>
    </div>
  </div>
</div>
