:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.page-content {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.row-layout {
  display: flex;
}
.main-page-header {
  background-color: #151725;
  background-image: url("/assets/NewHeader.png");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 24px;
  height: 120px;
  min-height: 120px;
  max-height: 120px;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-height: 50px;
  max-width: 1280px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.content {
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  padding: 24px;
  min-width: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.group_2 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 12px;
  height: 100%;
  min-width: 50px;
  min-height: 100%;
  max-height: 100%;
  flex-grow: 1;
  flex-basis: 0;
}
.group_3 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px;
  position: relative;
  height: 10%;
  min-width: 50px;
  min-height: 50px;
  max-height: 10%;
  align-self: stretch;
}
.group_4 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  height: 90%;
  min-width: 50px;
  min-height: 50px;
  max-height: 90%;
}
.h4 {
  text-align: center;
  color: var(--ig-surface-500);
  height: max-content;
  min-width: min-content;
}
.text {
  text-align: center;
  color: var(--ig-surface-500);
  margin: 0 0 16px;
  height: max-content;
  min-width: min-content;
}
.h5 {
  height: max-content;
  min-width: min-content;
}
.input {
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.button {
  --ig-size: var(--ig-size-large);
  height: max-content;
  flex-shrink: 0;
}

.text-danger {
  color: red;
  font-size: small;
  // font-weight: bold;
}
