<div class="column-layout page-content">
  <div class="row-layout main-page-header">
    <div class="row-layout group">
      <div class="column-layout group_1">
        <h4 class="h4">
          Запази час
        </h4>
        <p class="text">
          Предлагаме професионално полиране и фолиране с най-добрите марки и гаранции

        </p>
      </div>
    </div>
  </div>
  <div class="row-layout content">
    <div class="column-layout group_2">
      <div class="row-layout group_3">
        <igx-input-group type="border" class="input">
          <input type="text" [value]="" igxDateTimeEditor="yyyy/MM/dd" displayFormat="shortDate" igxInput />
          <label igxLabel>Date</label>
          <igx-hint>Избери ден</igx-hint>
        </igx-input-group>
        <igx-input-group type="border" class="input">
          <input type="text" [value]="" igxDateTimeEditor="yyyy/MM/dd" displayFormat="shortDate" igxInput />
          <label igxLabel>Date</label>
          <igx-hint>Избери час</igx-hint>
        </igx-input-group>
        <button igxButton="contained" type="button" igxRipple class="button">
          Запази
        </button>
      </div>
      <div class="row-layout group_4"></div>
    </div>
  </div>
</div>
