<div class="column-layout page-content">
  <div class="row-layout main-page-header">
    <div class="row-layout group">
      <div class="column-layout group_1">
        <h4 class="h4">
          Всичко необходимо за фаровете на вашата кола на едно място
        </h4>
        <p class="text">
          Предлагаме професионално полиране и фолирането с най-добрите марки и гаранции

        </p>
      </div>
    </div>
  </div>
  <div class="row-layout content">
    <div class="column-layout group_2">
      <h5 class="h5">
        Shopping Cart
      </h5>
      <div class="row-layout group_3">
        <div class="column-layout group_4">
          <igx-list class="list">
            <igx-list-item>
              <span igxListThumbnail>
                <igx-avatar src="/assets/Alternator1.jpg" class="avatar"></igx-avatar>
              </span>
              <span igxListLine>
                <div class="row-layout group_5">
                  <div class="row-layout group_6">
                    <p class="content_1">
                      Gold Alternator
                    </p>
                  </div>
                  <div class="row-layout group_7">
                    <p class="text_2">
                      Qty:
                    </p>
                    <div class="row-layout group_8">
                      <button igxRipple igxIconButton="flat">
                        <igx-icon>
                          remove
                        </igx-icon>
                      </button>
                      <p class="text_3">
                        1
                      </p>
                      <button igxRipple igxIconButton="flat">
                        <igx-icon>
                          add
                        </igx-icon>
                      </button>
                    </div>
                  </div>
                  <div class="row-layout group_9">
                    <p class="text_4">
                      $59.90
                    </p>
                  </div>
                </div>
              </span>
              <span igxListAction>
                <igx-icon class="icon">
                  remove_shopping_cart
                </igx-icon>
              </span>
            </igx-list-item>
            <igx-list-item>
              <span igxListThumbnail>
                <igx-avatar src="/assets/Depositphotos_91150104_l-2015.jpg" class="avatar"></igx-avatar>
              </span>
              <span igxListLine>
                <div class="row-layout group_5">
                  <div class="row-layout group_10">
                    <p class="text_5">
                      Tail Lamp Assembly
                    </p>
                  </div>
                  <div class="row-layout group_7">
                    <p class="text_2">
                      Qty:
                    </p>
                    <div class="row-layout group_8">
                      <button igxRipple igxIconButton="flat">
                        <igx-icon>
                          remove
                        </igx-icon>
                      </button>
                      <p class="text_3">
                        1
                      </p>
                      <button igxRipple igxIconButton="flat">
                        <igx-icon>
                          add
                        </igx-icon>
                      </button>
                    </div>
                  </div>
                  <div class="row-layout group_9">
                    <p class="text_4">
                      $19.50
                    </p>
                  </div>
                </div>
              </span>
              <span igxListAction>
                <igx-icon class="icon">
                  remove_shopping_cart
                </igx-icon>
              </span>
            </igx-list-item>
            <igx-list-item>
              <span igxListThumbnail>
                <igx-avatar src="/assets/Depositphotos_114068560_l-2015.jpg" class="avatar"></igx-avatar>
              </span>
              <span igxListLine>
                <div class="row-layout group_5">
                  <div class="row-layout group_10">
                    <p class="text_5">
                      Winter Tires Set
                    </p>
                  </div>
                  <div class="row-layout group_7">
                    <p class="text_2">
                      Qty:
                    </p>
                    <div class="row-layout group_8">
                      <button igxRipple igxIconButton="flat">
                        <igx-icon>
                          remove
                        </igx-icon>
                      </button>
                      <p class="text_3">
                        1
                      </p>
                      <button igxRipple igxIconButton="flat">
                        <igx-icon>
                          add
                        </igx-icon>
                      </button>
                    </div>
                  </div>
                  <div class="row-layout group_9">
                    <p class="text_4">
                      $59.90
                    </p>
                  </div>
                </div>
              </span>
              <span igxListAction>
                <igx-icon class="icon">
                  remove_shopping_cart
                </igx-icon>
              </span>
            </igx-list-item>
            <igx-list-item>
              <span igxListThumbnail>
                <igx-avatar src="/assets/Depositphotos_20993125_l-2015.jpg" class="avatar"></igx-avatar>
              </span>
              <span igxListLine>
                <div class="row-layout group_5">
                  <div class="row-layout group_6">
                    <p class="content_1">
                      Oil Filter
                    </p>
                  </div>
                  <div class="row-layout group_7">
                    <p class="text_2">
                      Qty:
                    </p>
                    <div class="row-layout group_8">
                      <button igxRipple igxIconButton="flat">
                        <igx-icon>
                          remove
                        </igx-icon>
                      </button>
                      <p class="text_3">
                        1
                      </p>
                      <button igxRipple igxIconButton="flat">
                        <igx-icon>
                          add
                        </igx-icon>
                      </button>
                    </div>
                  </div>
                  <div class="row-layout group_9">
                    <p class="text_4">
                      $59.90
                    </p>
                  </div>
                </div>
              </span>
              <span igxListAction>
                <igx-icon class="icon">
                  remove_shopping_cart
                </igx-icon>
              </span>
            </igx-list-item>
            <igx-list-item>
              <span igxListThumbnail>
                <igx-avatar src="/assets/Depositphotos_12011807_l-2015.jpg" class="avatar"></igx-avatar>
              </span>
              <span igxListLine>
                <div class="row-layout group_5">
                  <div class="row-layout group_10">
                    <p class="text_5">
                      Headlight Assembly
                    </p>
                  </div>
                  <div class="row-layout group_7">
                    <p class="text_2">
                      Qty:
                    </p>
                    <div class="row-layout group_8">
                      <button igxRipple igxIconButton="flat">
                        <igx-icon>
                          remove
                        </igx-icon>
                      </button>
                      <p class="text_3">
                        1
                      </p>
                      <button igxRipple igxIconButton="flat">
                        <igx-icon>
                          add
                        </igx-icon>
                      </button>
                    </div>
                  </div>
                  <div class="row-layout group_9">
                    <p class="text_4">
                      $59.90
                    </p>
                  </div>
                </div>
              </span>
              <span igxListAction>
                <igx-icon class="icon">
                  remove_shopping_cart
                </igx-icon>
              </span>
            </igx-list-item>
          </igx-list>
        </div>
        <div class="column-layout group_11">
          <h6 class="content_1">
            Cart totals
          </h6>
          <div class="column-layout group_12">
            <div class="row-layout group_13">
              <p class="ig-typography__subtitle-2 content_2">
                Subtotal
              </p>
              <p class="content_3">
                $198.30
              </p>
            </div>
            <div class="row-layout group_13">
              <p class="ig-typography__subtitle-2 content_2">
                Shipping
              </p>
              <p class="content_3">
                $0
              </p>
            </div>
            <div class="column-layout group_14">
              <p class="ig-typography__body-2 text_4">
                Shipping wiil be calculated at checkout
              </p>
              <a target="_self" class="ig-typography__body-2 hyperlink">
                Estimate shipping
              </a>
            </div>
            <div class="row-layout group_13">
              <h6 class="content_2">
                Total
              </h6>
              <h6 class="content_3">
                $198.30
              </h6>
            </div>
          </div>
          <div class="row-layout group_15">
            <button igxButton="flat" type="button" igxRipple class="button">
              PROCEED TO CHECKOUT
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
